body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
}

//main
.page {
  padding: 24px;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h2 {
  margin: 0;
  color: #333;
}

.sort-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
}

.sort-btn:hover {
  background: #125aa3;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters input,
.filters select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  outline: none;
}

.filters input:focus,
.filters select:focus {
  border-color: #2563eb;
}

/* Card */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  overflow: hidden;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f0f2f5;
}

th, td {
  padding: 14px;
  text-align: left;
}

th {
  font-weight: 600;
  color: #555;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background: #f9fbff;
}

/* Pagination */
.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.pagination button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.active {
  color: green !important;
  font-weight: 600;
}

.inactive {
  color: red !important;
  font-weight: 600;
}

.delete-btn{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

.update-btn{
    background-color: #2d30ff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}


