<div class="wrapper">
    <!-- Sidebar Navigation -->
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul *ngFor="let item of navItems">
            <li><a [routerLink]="item.value">{{item.title}}</a></li>
        </ul>
    </div>
    <!-- Main Content Area -->
    <div class="main-content">
        <header>
            <h1>User Table</h1>
        </header>

        <div class="users">
            <h2>User List</h2>


            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>