<div class="wrapper">
    <!-- Sidebar Navigation -->
    <navbar-component></navbar-component>
    <!-- Main Content Area -->
    <div class="main-content">
        <div class="page">

            <!-- HEADER -->
            <div class="header">
                <h2>Users</h2>

                <div class="filters">
                    <!-- Search -->
                    <input type="text" placeholder="Search name or email" (input)="onSearch($event)" />

                    <!-- Role Filter -->
                    <select (change)="onRoleChange($event)">
                        <option value="">All Roles</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>

                    <button class="sort-btn" (click)="toggleSort()">
                        {{ sort === 'asc' ? 'Old → New' : 'New → Old' }}
                    </button>

                    <button class="delete-btn" (click)="addUser()"> + Add </button>
                </div>
            </div>

            <!-- CARD -->
            <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>role</th>
                            <th>Active</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody *ngIf="users() as list">
                        <tr *ngFor="let u of list; let i = index">
                            <td>{{ (page - 1) * limit + i + 1 }}</td>
                            <td>{{ u.name }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.role }}</td>
                            <td>
                                <div [ngClass]="u.isActive ? 'active' : 'inactive'"></div>
                                {{ u.isActive ? 'Active' : 'Inactive' }}
                            </td>
                            <td>{{ u.createdAt | date:'mediumDate' }}</td>
                            <td>
                                <button class="update-btn" (click)="updateUser(u)"> Update</button>
                                <button class="delete-btn" (click)="deleteUser(u)"> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- PAGINATION -->
            <div class="pagination">
                <button (click)="prev()" [disabled]="page === 1">Prev</button>
                <span>Page {{ page }}</span>
                <button (click)="next()">Next</button>
            </div>

        </div>


    </div>
</div>