body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
}

.logout-btn{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
